@model List<Service>
<div class="container-fluid">
    <a asp-action="Create" asp-controller="Service" class="btn btn-primary">Create</a>
    <table class="table table-striped shadow mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Desc</th>
                <th scope="col">Icon</th>
                <th scope="col">Actions</th>
                
            </tr>
        </thead>
        <tbody>
         @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Icon</td>
                    <td>
                        <a asp-action="Update" asp-controller="Service" asp-route-id="@item.id" class="btn btn-primary">Update</a>
                        <a asp-action="Delete" asp-controller="Service" asp-route-id="@item.id" class="btn btn-secondary">Delete</a>
                        
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>